* {
    margin: 0;
    padding: 0;
}

.header-bar h2 {
    text-align: center;
    padding: 20px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.weather-header header {
    background: linear-gradient(35deg, navy, lightblue );
}

.form-col input {
    justify-content: center;
    width: 100%;
}

.form-col h2 {
    text-align: center;
}

.btn-cont {
    display: flex;
    justify-content: center;
}

.card h3 {
    text-align: center;
}

.container h2 {
    text-align: center;
}

.table th {
    text-align: center;
}

.results {
    width: 100%;
}