* {
    margin: 0;
    padding: 0;
}

.header-bar h2 {
    text-align: center;
    padding: 20px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.weather-header header {
    background: linear-gradient(35deg, navy, lightblue );
}

.submit-button {
    background-color: lightblue;
    color: white;
}