body {
    background-image:repeating-radial-gradient( tan, whitesmoke);
}

header {
    display:flex;
    justify-content: center;
    background-image: linear-gradient(rgb(0, 89, 255), rgb(190, 187, 206));
    color:whitesmoke;
}

.search-title {
    display:flex;
    justify-content: center;
}

.btncontainer {
    display:flex;
    justify-content: center;
    border-bottom:2px blue dashed;
    padding-bottom: 10px;
}

.form-group label {
    display:flex;
    justify-content: center;
}

.card {
 margin-top: 20px;
 background-image: linear-gradient( whitesmoke, #BAEFF5);
}

.card h3 {
    display:flex;
    justify-content: center;
}

.table-body {
    background-image: linear-gradient( whitesmoke, #BAEFF5 );
    color:black;
}